<h1>Currency App</h1>

<form #moneyForm="ngForm" (ngSubmit)="addMoney()" data-test="newMoneyForm">
  <p>
    <label>Amount</label>
    <input type="number" [(ngModel)]="newMoneyAmount" name="amount">
  </p>
  <p>
    <label>Currency</label>
    <input type="text" [(ngModel)]="newMoneyCurrency" name="currency">
  </p>
  <p>
    <button type="submit" data-test="newMoneySubmit">Add money</button>
  </p>
</form>

<ng-container *ngIf="(portfolio$ | async) as portfolio; else noPortfolio">
  <table>
    <tr>
      <th>Amount</th>
      <th>Currency</th>
    </tr>
    <tr *ngFor="let money of portfolio.moneys" data-test="portfolioMoneyItem">
      <td>{{ money.amount }}</td>
      <td>{{ money.currency }}</td>
    </tr>
  </table>
</ng-container>

<ng-template  #noPortfolio>
  <span>Empty portfolio</span>
</ng-template>